#coins{
display: flex;
/* margin: 8%; */
flex-wrap: wrap;
justify-content: center;
}
#coins .card img{
    height: 136px;
    width: auto;
    margin: 18px;
}
#coins .card{
    width: 18rem;
    margin: 5%;
    height: 23rem;
    background: aliceblue;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,.05), 25px 35px 20px rgba(0,0,0,.05);
  
}
.card-body{
    background: antiquewhite;
}
.list-group-item{
    background: aliceblue;
}
.card-body h5{
    display: flex;
    justify-content: center;
}
.navbar  .container-fluid{
    justify-content: center;
    background: aliceblue;
    color: black;
}