#coins{
display: flex;
/* margin: 8%; */
flex-wrap: wrap;
justify-content: center;
}
#coins .card img{
    height: 136px;
    width: auto;
    margin: 18px;
}
#coins .card{
    width: 18rem;
    margin: 2%;
    height: auto;
    background: aliceblue;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,.05), 25px 35px 20px rgba(0,0,0,.05);
  
}
#coins .linking{
    margin: 3%;
    text-decoration: none;
}
#coins .linking:hover{
    margin: 4.8%;
}
#coins .card:hover{
    width: 18rem;
    margin: 4%;
    height: 23rem;
    background:beige;
  
}
.card-body{
    background: antiquewhite;
}
.list-group-item{
    background: aliceblue;
}
.card-body h5{
    display: flex;
    justify-content: center;
}
.navbar  .container-fluid{
    justify-content: center;
    background: aliceblue;
    color: black;
}


@media only screen and (max-width: 550px) {
  
.coin_status {
display: block;
}
}

@media only screen and (max-width: 450px) {
  
        #coins .card{
  margin: 0%;        
  }
 
}
